
out/production/oopInheritance/com/packages/App.class
out/production/oopInheritance/com/packages/Character.class
out/production/oopInheritance/com/packages/Warlock.class
out/production/oopInheritance/com/packages/Wizard.class
